# vscode
.git/
.vscode/

# dependencies
node_modules/

# environment
.env
.env.*
!.env.example

# local databases
data/*.sqlite
data/*.sqlite3
data/*.db

# logs
*.log
npm-debug.log*

# OS
.DS_Store


